:root {
  --main-bg-dark: #181818;
  --widget-bg-color: #181818;
  --box-shadow-main: #4472b8;
  --box-shadow-button: #e050ff;
  --font-main: "Bungee", cursive;
  --font-button-size: font-size: 2.5em;
  --button-text: var(--box-shadow-button);
  --hover-bg-pink: #de65e9;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 23px;
}

h2 {
  color: var(--box-shadow-button);
}

body {
  min-height: 100vh;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: var(--main-bg-dark);
}



#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px var(--box-shadow-button);
  overflow: auto;
}

.Header,
.Footer {
  width: 100%;
  background-color: var(--main-bg-dark);
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  display: grid;
  place-content: center;
  font-size: 0.8rem;
  color: var(--box-shadow-button);
  /* height: 700px; */
}

.Header img {
  height: 150px;
  margin: 10px 0;
}


.Footer img {
  font-size: 0.8rem;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 1rem;
}

.Nav li:hover,
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a {
  background-color: var(--hover-bg-pink);
  color: #333;
}

.Nav li:hover a,
.Nav li:focus a {
  cursor: pointer;
}

.UnitList,
.Currency {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-row-gap: 1.3rem;
  grid-column-gap: 1rem;
  width: 100%;
  padding: 1rem;
  height: 100vh;
  align-content: start;
  background-color: var(--widget-bg-color);
}

.convertionsMenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.convertionsMenu button {
  width: 140px;
  font-size: 0.8rem;
  height: 45px;
  border: none;
  margin: 4px;

}

.UnitPick {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  height: 100vh;
  align-content: start;
}

.UnitPick form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dataTableContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--hover-bg-pink);
}

.UnitPick input {
  width: 40%;
  height: 35px;
  font-size: 1rem;
  padding: 0.2rem;
  margin-top: 1rem;
}

.conversionResultsTable {
  width: 40%;
  margin-top: 0.6rem;
  text-align: left;
}

.pickedConversionTab {
  background-color: var(--box-shadow-button);
}

.conversionResultsTable .data {
  padding: 0.3rem;
  width: 150px;
  margin: auto;
  font-size: 0.8em;
}

.bgColor {
  background-color: var(--hover-bg-pink);
}

.unit {
  display: grid;
  place-content: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--widget-bg-color);
  box-shadow: 0 0 5px var(--box-shadow-button);
  border: 1px solid var(--box-shadow-button);

}

a {
  text-decoration: none;
  color: black;
}

.UnitList a button {
  font-size: var(--font-button-size);
  font-family: var(--font-main);
  color: var(--box-shadow-button);
  font-size: 18px;
  margin-top: 0.8rem;
}


.UnitList a .unit:hover {
  /* border: 2px solid rgb(100, 110, 187); */
  color: #181818;
  background-color: var(--box-shadow-button);

}

.currencyContainer {
  color: var(--box-shadow-button);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.currencyContainer select {
  padding: 5px;
  margin: 15px;
}

.currencyContainer label {

  margin-left: 15px;
 
  margin: auto;
}

.UnitList:first-child {
  margin-top: 0;
}

.UnitPick h2 {
  margin: 0.8rem auto;
}

.labelContainer {
  display: flex;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 22px;
  }

  .Header img {
    height: 200px;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }
}

@media only screen and (max-width: 670px) {
  .currencyContainer {
    flex-direction: column;
  }

  .labelContainer{
    margin: auto;
  }

  .currencyContainer label {
    display: block;
    width: 60px;
    margin-top: 8px;
  }

}

@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }

}